<div id="wrapper" ng-controller="FAQCtrl" ng-cloak>

  <div class="top_wrapper">

    <div 
    ng-include="'partials/header/header.html'"
    id="faq-header"></div>

    <div 
    ng-include="'faq/partials/slider.html'"
    id="faq-slider"
    ></div>

  </div>

  <div class="content-wrapper">
    <div class="body-wrapper">
      <!-- <div ng-include="'partials/common/top-companies.html'"></div> -->
      <div ng-include="'faq/partials/content.html'"></div>
      <div class="light-gray-bg" ng-include="'partials/testimonials/testimonials.html'"></div>
      <div ng-include="'partials/banners/get-started.html'"></div>
    </div>

    <div ng-include="'partials/footer/footer.html'"></div>

  </div>

</div>