<div id="wrapper" ng-controller="KanziCtrl">

  <div class="top_wrapper">
    <div ng-include="'partials/header/header.html'"></div>
    <div ng-include="'partials/welcome/slider.html'"></div>
  </div>

  <div class="content-wrapper">
    <div class="body-wrapper">
      <div ng-include="'partials/banners/top-companies.html'"></div>
      <div ng-include="'partials/welcome/why-protoexchange.html'"></div>
      <div id="services-section"  ng-include="'partials/welcome/services.html'"></div>
      <div ng-include="'partials/banners/get-started.html'"></div>
    </div>
  </div>

  <div ng-include="'partials/footer/footer.html'"></div>

</div>

</div>