<!--
<div class="section-content top-body">
	<div class="center-text">
		<h4 class="h4-section-title">Your Personal Engineering Team</h4>
		<p class="p-section-info">Get matched with professional Electrical and Mechanical engineers to assist in your research & development.</p> 
		<button href="/pricing/" class="btn btn-lg btn-primary">Get Started</button>
	</div>
</div>
-->
<div id="top-companies-section" class="section-content  bottom-body clients-section">
	<div class="container">
		<div class="row">

			<div class="col-md-4 col-sm-4">
				<br/>
				<h3>Engineering Talent from<br/>Top Companies...</h3>
			</div>
			<div class="col-md-8 col-sm-8">
				<ul class="bottom-body-clients">
					
					<li>
						<img src="images/firms/3m.png" alt="3M" class="img-responsive client-image" />
					</li>
					<li>
						<img src="images/firms/freescale.png" alt="Freescale" class="img-responsive client-image" />
					</li>
					<li>
						<img src="images/firms/samsung.png" alt="Samsung" class="img-responsive client-image" />
					</li>
					<li>
						<img src="images/firms/tesla.png" alt="Tesla" class="img-responsive client-image" />
					</li>
				</ul>            
			</div>
		</div>
	</div>
</div>