<div id="hammerhead-banner" class="" >
	<div class="space-sep100"></div>
	<div class="space-sep100"></div>
	<div  class="container white-text">
		<div class="row">
			<div class="col-md-12 col-sm-12  text-center">
				<h1 class="slider-text-title">
					Hammerhead
				</h1>
			</div>
		</div>
	</div>
</div>

<div class="light-gray-bg">
	<div class="container ">
		<div class="row-fluid">
			<div class="col-md-12 col-sm-12">
				
				<div class="col-md-6 col-sm-6 border-right">
					<div class="space-sep40"></div>
					<img class="padded" src="static/images/clients/hammerhead/logo-hammerhead.png" width="256px"/>
					<p class="padded lead">
						Hammerhead One effortlessly guides you through your route with intuitive light signals.
					</p>	

					<div class="testimonial padded">
						<div class="testimonial-content">
							<div class="testimonial-item" style="visibility: visible;">

								<div class="testimonial-person-pic">
									<img src="static/images/clients/hammerhead/headshot-laurence.png" alt="Laurence Wattrus" class="img-responsive">
								</div>

								<div class="testimonial-text">
									Our PX assistant managed to complete some complex, last-minute modifications and design review which helped us prepare for certification testing.
								</div>

								<div class="testimonial-by">
									<span class="testimonial-by-name">Laurence Wattrus,</span>
									<span class="testimonial-by-position">
										Head of Hardware at <a href="http://hammerhead.io/">Hammerhead</a>    
									</span>	
								</div>
							</div>
						</div>
					</div> 

					<div class="space-sep100"></div>
					
				</div>

				<div class="col-md-6 col-sm-6">
					<div class="space-sep40"></div>
					<div class="padded">
						<iframe width="560" height="315" src="//www.youtube.com/embed/Uejow9g6vGA" frameborder="0" allowfullscreen></iframe>
					</div>

					<div class="padded">
						<a href="https://hammerhead.io" class="btn btn-lg btn-blue">
							Visit Hammerhead
						</a>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>