<div id="harvest-geek-banner" class="" >
	<div class="space-sep100"></div>
	<div class="space-sep100"></div>
	<div  class="container white-text">
		<div class="row">
			<div class="col-md-12 col-sm-12  text-center">
				<h1 class="slider-text-title">
					HarvestGeek
				</h1>
			</div>
		</div>
	</div>
</div>

<div class="light-gray-bg">
	<div class="container ">
		<div class="row-fluid">
			<div class="col-md-12 col-sm-12">
				
				<div class="col-md-6 col-sm-6 border-right">
					<div class="space-sep40"></div>
					<img id="harvest-geek-logo" class="padded" src="static/images/clients/harvestgeek/logo-harvest-geek.png" width="256px"/>
					<span class="harvest-geek-brand" >HarvestGeek</span>
					<p class="padded lead">
						HarvestBots are small electronic devices equipped with sensors that when deployed in your garden monitors the vitals, communicates the information back to the cloud and allows you to automate equipment based on real-time data. 
					</p>

				
					<div class="testimonial padded">
						<div class="testimonial-content">
							<div class="testimonial-item" style="visibility: visible;">

								<div class="testimonial-person-pic">
									<img src="static/images/clients/harvestgeek/logo-harvestgeek-2.png" alt="Mike Alt" class="img-responsive">
								</div>

								<div class="testimonial-text">
									Jon and ProtoExchange were simply great. They helped us quickly find an affordable Engineer after difficulties arose with the original founding team. 
								</div>

								<div class="testimonial-by">
									<span class="testimonial-by-name">Mike Alt,</span>
									<span class="testimonial-by-position">
										Founder Of <a href="http://www.harvestgeek.com/">HarvestGeek</a>    
									</span>	
								</div>
							</div>
						</div>
					</div> 

					<div class="testimonial padded">
						<div class="testimonial-content">
							<div class="testimonial-item" style="visibility: visible;">

								<div class="testimonial-person-pic">
									<img style="padding: 10px; " src="static/images/brand/favicon.png" alt="Rowan" class="img-responsive">
								</div>

								<div class="testimonial-text">
									I helped source Harvest Geek's display, modified their PCB design and assisted with the necessary firmware updates. It feels great to assist with open source hardware development.
								</div>

								<div class="testimonial-by">
									<span class="testimonial-by-name">Rowan Gifford,</span>
									<span class="testimonial-by-position">
										Engineer At <a href="https://protoexchange.com/">ProtoExchange</a>    
									</span>	
								</div>
							</div>
						</div>
					</div> 	

					<div class="space-sep40"></div>
				</div>

				<div class="col-md-6 col-sm-6">
					<div class="space-sep40"></div>
					<div class="padded">
						<img id='harvest-geek-info' src="static/images/clients/harvestgeek/harvestgeek-product-info.png"/>
					</div>

					<div class="padded">
						<a href="http://www.harvestgeek.com/" class="btn btn-lg btn-blue">
							Visit HarvestGeek
						</a>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>