<footer>
    <div class="footer">

        <div class="footer-wrapper container">
            <div class="row ">

                <!-- Footer Col. -->
                <div class="col-md-4 col-sm-4 footer-col">
                    <div class="footer-content">
                        <div class="footer-content-logo">
                            <img id="px-header-logo" src="images/brand/px.logo.ga.png" alt="ProtoExchange"/>
                        </div>
                        <div class="footer-content-text">
                            <p>ProtoExchange helps you overcome key challenges by pairing you with Hardware Engineering Specialists.</p>
                            <p>Connect through video consultation and our development environment. Troubleshoot, debug and optimize your hardware designs.</p>
                        </div>
                    </div>
                </div>
                <!-- //Footer Col.// -->

                <!-- Footer Col. -->
                <div class="col-md-6 col-sm-6 footer-col">
                    <div class="footer-title">
                        Tweets
                    </div>
                    <div class="footer-content footer-recent-tweets-container">
                        <a 
                        class="twitter-timeline"  
                        data-chrome="noheader noborders transparent nofooter" 
                        data-tweet-limit="3" 
                        href="https://twitter.com/ProtoExchange" data-widget-id="519989104746823681">Tweets by @ProtoExchange</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


                    </div>
                </div>
                <!-- //Footer Col.// -->

                <!-- Footer Col. -->
                <div class="col-md-2 col-sm-2 footer-col">
                    <div class="footer-title">
                        Links
                    </div>
                    <div class="footer-content">
                        <ul class="footer-category-list">
                            <li>
                                <a href="#!/request-assistant">Request Assistant</a>
                            </li>
                            <li>
                                <a href="#!/create-profile">Create Profile</a>
                            </li>
                            <li>
                                <a href="#!/pricing">Pricing</a>
                            </li>
                            <li>
                                <a href="#!/faq">FAQ</a>
                            </li>
                            <li>
                                <a href="#!/manufacturing-resources">Manufacturing Resources</a>
                            </li>
                            <!--
                            <li>
                                <a href="#!/create-profile">Create Profile</a>
                            </li>
                        -->
                        <li>
                         <a href="http://dashboard.protoexchange.com" target="_blank">
                            Dashboard
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <!-- //Footer Col.// -->

    </div>

</div>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 center-text">
                <div class="copyright-text">&copy; 2014 ProtoExchange | v<span app-version></span></div>
            </div>

        </div>
    </div>
</div>

</footer>