<div id="get-started-section" class="">
  <div class="space-sep100"></div>
  <div class="space-sep40"></div>
  <div  class="container white-text">
    <div class="row">
        <div class="col-md-6 col-sm-6 animated " data-animtype="fadeInLeftBig"
        data-animrepeat="0"
        data-speed="1s"
        data-delay="0.4s">
        <h1 class="pull-right">
            Prices starting at $280/month
        </h1>
    </div>
    <div class="col-md-6 col-sm-6 animated " data-animtype="fadeInRightBig"
    data-animrepeat="0"
    data-speed="1s"
    data-delay="0.4s">
    <a 
    href="#!/pricing" 
    class="btn btn-lg btn-primary"
    >
    Learn More
</a>
</div>
</div>
</div>
<div class="space-sep100"></div>
</div>
