<div id="get-started-section" class="">
  <div class="space-sep100"></div>
  <div class="space-sep40"></div>
  <div  class="container white-text">
    <div class="row">
    <div class="col-md-12 col-sm-12 animated " data-animtype="fadeIn"
        data-animrepeat="0"
        data-speed="1s"
        data-delay="0.4s">
        <h1 class="text-center">
            Streamline Your Hardware Development
        </h1>
        <h4 class="text-center">
            Hand off your time-sinking tasks to ProtoExchange.
        </h4>
    </div>
    <div class="col-md-12 col-sm-12 animated text-center" data-animtype="fadeIn"
        data-animrepeat="0"
        data-speed="1s"
        data-delay="0.4s">
        <a href="#!/request-assistant" class="btn btn-lg btn-primary">
            Get Started
        </a>
    </div>

</div>
</div>
<div class="space-sep100"></div>
</div>
