<div id="get-started-section" class="">
  <div class="space-sep100"></div>
  <div class="space-sep40"></div>
  <div  class="container white-text">
    <div class="row">
    <div class="col-md-12 col-sm-12 animated " data-animtype="fadeIn"
        data-animrepeat="0"
        data-speed="1s"
        data-delay="0.4s">
        <h1 class="text-center">
            Have Questions about our Pricing or Process?
        </h1>
    </div>
    <div class="col-md-12 col-sm-12 animated text-center" data-animtype="fadeIn"
        data-animrepeat="0"
        data-speed="1s"
        data-delay="0.4s">
        <a href="#!/faq" class="btn btn-lg btn-primary">
            Checkout our FAQ
        </a>
    </div>
</div>
</div>
<div class="space-sep100"></div>
</div>
