<div class="container">
    <div class="row">                    

        <div class="col-md-4 col-sm-4">
            <div class="content-box content-style2">
                <h4 class="h4-body-title animated" data-animtype="bounceIn" data-animrepeat="0"
                data-animdelay="0s">
                <i class="icon-design-pencil-rule-streamline"></i>
                Bring Us a Challenge
            </h4>
            <div class="content-box-text animated" data-animtype="fadeInDown" data-animrepeat="0"
            data-animdelay="0s">
            Seeking mentorship, design review or prototype development? Describe your hardware challenge, and we’ll help you resolve it.
        </div>
    </div>
</div>

<div class="col-md-4 col-sm-4">
    <div class="content-box content-style2">
        <h4 class="h4-body-title animated" data-animtype="bounceIn" data-animrepeat="0"
        data-animdelay="0.2s">
        <i class="icon-monocle-mustache-streamline"></i>
        Work With Experts
    </h4>
    <div class="content-box-text animated" data-animtype="fadeInDown" data-animrepeat="0"
    data-animdelay="0.2s">
    We analyze your challenge and recommend specialists from our extensive community based on your budget and required expertise.
</div>
</div>
</div>

<div class="col-md-4 col-sm-4">
    <div class="content-box content-style2">
        <h4 class="h4-body-title animated" data-animtype="bounceIn" data-animrepeat="0"
        data-animdelay="0.4s">
        <i class="icon-speech-streamline-talk-user"></i>
        Receive Assistance &amp; Support
    </h4>
    <div class="content-box-text animated" data-animtype="fadeInDown" data-animrepeat="0"
    data-animdelay="0.4s">
    Connect through video consultation and our development environment. Gain experience, optimize your hardware designs and resolve issues before manufacturing.
</div>
</div>
</div>

</div>

<div class="space-sep40"></div> 

</div>