<div class="section-content bottom-body clients-section">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <ul class="bottom-body-clients">
                        <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.2s">
                            <img src="css/kanzi/images/placeholders/clients/logo1.png" alt="Logo" class="img-responsive client-image" />
                        </li>
                        <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.3s">
                            <img src="css/kanzi/images/placeholders/clients/logo3.png" alt="Logo" class="img-responsive client-image" />
                        </li>
                        <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.4s">
                            <img src="css/kanzi/images/placeholders/clients/logo4.png" alt="Logo" class="img-responsive client-image" />
                        </li>
                        <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.5s">
                            <img src="css/kanzi/images/placeholders/clients/logo2.png" alt="Logo" class="img-responsive client-image" />
                        </li>
                        <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.6s">
                            <img src="css/kanzi/images/placeholders/clients/logo5.png" alt="Logo" class="img-responsive client-image" />
                        </li>
                    </ul>            
                </div>
            </div>
        </div>
    </div>