<div class="section-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 animated " data-animtype="fadeInLeftBig"
            data-animrepeat="0"
            data-speed="1s"
            data-delay="0.4s">
            <div class="space-sep100"></div>
            <h2 class="h2-section-title">Design Tool Experts</h2>
            <h3 class="h3-section-info">Get matched to a specific engineer who is an expert with the same CAD/EDA tools that you and your engineer teams already use. Onboard engineers who already have experience in certain software.</h3>
        </div>
        <div class="col-md-6 col-sm-6 animated " data-animtype="fadeInRightBig"
        data-animrepeat="0"
        data-speed="1s"
        data-delay="0.4s">
        <div class="right-image-container">
            <img src="css/kanzi/images/placeholders/screens-mockup-placeholder.png" alt="MockUp"/>
        </div>
    </div>
</div>
</div>
</div>