<div id="wrapper">

  <div class="top_wrapper">
    <div ng-include="'partials/common/top-bar.html'"></div>
    <div ng-include="'partials/common/header.html'"></div>
    <div ng-include="'partials/pages/how-it-works/slider.html'"></div>
  </div>

  <div ng-hide="true" ng-include="'partials/common/loading-container.html'"></div>

  <div class="content-wrapper">

    <div ng-include="'partials/pages/how-it-works/top-body.html'"></div>
 <!--
    <div class="body-wrapper">
      <div ng-include="'partials/pages/how-it-works/123-section.html'"></div> 
    </div>
  -->
  <div ng-include="'partials/pages/how-it-works/design-review.html'"></div>
  <div ng-include="'partials/pages/how-it-works/bom-optimization.html'"></div>
  <div ng-include="'partials/pages/how-it-works/schematics-optimization.html'"></div>
  <div ng-include="'partials/pages/how-it-works/layout-modeling.html'"></div>
  <div ng-include="'partials/pages/how-it-works/manufacturing-assistance.html'"></div>
  <div ng-include="'partials/pages/how-it-works/design-tool-experts.html'"></div>
  <div ng-include="'partials/pages/how-it-works/technical-interviews.html'"></div>
  <div ng-include="'partials/pages/how-it-works/clients-section.html'"></div>
  <div ng-include="'partials/common/footer.html'"></div>

</div>

</div>