<div id="how-it-works-slider" class="rev-slider-full">
    <div class="rev-slider-banner-full  rev-slider-full">
        <ul>


            <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
                <img src="images/sliders/empty-room.jpg" alt="rev-full1" data-fullwidthcentering="on">
            

        <div class="tp-caption slider-text-title sft str"
        data-x="20"
        data-y="150"
        data-speed="300"
        data-start="800"
        >
        <span>ProtoExchange</span>
    </div>

    <div class="tp-caption slider-text-description sfl str welcome-slider-bullet"
    data-x="20"
    data-y="246"
    data-speed="200"
    data-start="1100">
    
    <i class="icon-checkmark circle-iconbg"></i> Bring Us a Challenge
</div>

<div class="tp-caption slider-text-description sfl str welcome-slider-bullet"
data-x="20"
data-y="296"
data-speed="200"
data-start="1400">

<i class="icon-checkmark circle-iconbg"></i> Work With Experts
</div>

<div class="tp-caption slider-text-description sfl str welcome-slider-bullet"
data-x="20"
data-y="346"
data-speed="200"
data-start="1700">

<i class="icon-checkmark circle-iconbg"></i> Receive Assistance &amp; Support
</div>
</li>
</ul>
<div class="tp-bannertimer tp-bottom"></div>
</div>
</div>