<div class="section-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 animated " data-animtype="fadeInLeftBig"
            data-animrepeat="0"
            data-speed="1s"
            data-delay="0.4s">
            <div class="space-sep100"></div>
            <h2 class="h2-section-title">Host Technical Interviews</h2>
            <h3 class="h3-section-info">ProtoExchange engineers can help discover the best engineering candidates for your team by leading Technical Interviews for your new employees. Get honest feedback on the capabilities of candidates. </h3>
        </div>
        <div class="col-md-6 col-sm-6 animated " data-animtype="fadeInRightBig"
        data-animrepeat="0"
        data-speed="1s"
        data-delay="0.4s">
        <div class="right-image-container">
            <img src="css/kanzi/images/placeholders/screens-mockup-placeholder.png" alt="MockUp"/>
        </div>
    </div>
</div>
</div>
</div>