<div class="container">
    <div class="space-sep40"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 animated flipInY animatedVisi" data-animtype="flipInY" data-animrepeat="0" data-speed="1s" data-delay="0.5s">
            <h2 class="h2-section-title">Questions from Customers</h2>

            <div class="i-section-title">
                <i class="icon-lifebuoy">

                </i>
            </div>

            <div class="space-sep20"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-sm-8">
            <div class="accordion accordion2" data-toggle="on" data-active-index="">


                <div class="accordion-row">
                    <div class="title">
                        <div class="open-icon"></div>
                        <h4>What is ProtoExchange?</h4>
                    </div>
                    <div class="desc">
                        ProtoExchange provides access to top Hardware Engineers for consultation and development.
                    </div>
                </div>

                <div class="accordion-row">
                    <div class="title">
                        <div class="open-icon"></div>
                        <h4>How does ProtoExchange work?</h4>
                    </div>
                    <div class="desc">
                        Subscribe to ProtoExchange for assistance from engineers selected for their expertise in your unique requirements. We consider many factors when matching clients with engineers, including CAD expertise,  experience developing similar products, engineer availability and more.
                    </div>
                </div>

                <div class="accordion-row">
                    <div class="title">
                        <div class="open-icon"></div>
                        <h4>How do you handle NDAs?</h4>
                    </div>
                    <div class="desc">
                        We can supply NDAs that are required for a project for a one-time fee. We record signings through an electronic auditing system for easy and transparent use.
                    </div>
                </div>

                <div class="accordion-row">
                    <div class="title">
                        <div class="open-icon"></div>
                        <h4>How are Engineers curated?</h4>
                    </div>
                    <div class="desc">
                     Engineers apply to join ProtoExchange. Members of our staff review each individual application and cross-reference with professional and social profiles (such as Github, Linkedin, StackOverflow, etc.). We further evaluate their ability to communicate effectively, efficiently, and professionally.
                 </div>
             </div>

             <div class="accordion-row">
                <div class="title">
                    <div class="open-icon"></div>
                    <h4>What are the advantages of ProtoExchange?</h4>
                </div>
                <div class="desc">
                 ProtoExchange enables you to solve urgent technical challenges faster by connecting you with experienced engineers. Engineering assistants are great for those in need of quick design review, advice or mentor-ship. ProtoExchange Assistants can augment your existing engineering team, and together we can tackle technical challenges beyond your in house capabilities. Hardware development is expensive; faulty design can lead to costly manufacturing mistakes. Fresh eyes can save you time and money.
             </div>
         </div>

         <div class="accordion-row">
            <div class="title">
                <div class="open-icon"></div>
                <h4>How does matching work?</h4>
            </div>
            <div class="desc">
                We review your engineering requirements and match you with the best engineers; we focus on experience, expertise, location, availability.
            </div>
        </div>

        <div class="accordion-row">
            <div class="title">
                <div class="open-icon"></div>
                <h4>What is the difference between each subscription plan?</h4>
            </div>
            <div class="desc">
             Please see our pricing page for more information.
             <a href="#!/pricing" class="btn btn-sm btn-primary">See Pricing</a>
         </div>
     </div>



     <div class="accordion-row">
        <div class="title">
            <div class="open-icon"></div>
            <h4>What if I prefer a different engineer than recommended?</h4>
        </div>
        <div class="desc">
            We host introductory calls to ensure that the engineer we’ve chosen is the correct match. If not, we’ll continue to search for and recommend engineers until you’re satisfied. 
        </div>
    </div>

    <div class="accordion-row">
        <div class="title">
            <div class="open-icon"></div>
            <h4>Can I change engineers in the middle of a subscription?</h4>
        </div>
        <div class="desc">
            If your engineering needs change, we're happy to match you with a new engineer with the expertise you are seeking at any time.
        </div>
    </div>

</div>                
</div>

<div class="col-md-4 col-sm-4">
    <h3 class="h3-body-title">Couldn’t find the answer?</h3>
    <p> We're happy to answer any questions you may have about our platform.
    </p>
    <button href="" ng-click="leaveAMessage()" class="btn btn-lg">Ask A Question</button>
</div>
</div>

<div class="row">
    <div class="space-sep20"></div>
    <div class="col-md-12 col-sm-12 animated flipInY animatedVisi" data-animtype="flipInY" data-animrepeat="0" data-speed="1s" data-delay="0.5s">
        <h2 class="h2-section-title">Questions from Engineers</h2>

        <div class="i-section-title">
            <i class="icon-settings-streamline-2">

            </i>
        </div>

        <div class="space-sep20"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-sm-8">
        <div class="accordion accordion2" data-toggle="on" data-active-index="">


            <div class="accordion-row">
                <div class="title">
                    <div class="open-icon"></div>
                    <h4>How is payment handled?</h4>
                </div>
                <div class="desc">
                    Once you have been matched with a client you will be paid each month based on subscription plan the client has selected.
                </div>
            </div>

            <div class="accordion-row">
                <div class="title">
                    <div class="open-icon"></div>
                    <h4>Is work filed under 1099?</h4>
                </div>
                <div class="desc">
                 Work is filed under 1099. All work is considered contract work.
             </div>
         </div>

         <div class="accordion-row">
            <div class="title">
                <div class="open-icon"></div>
                <h4>What can I do to improve my profile?</h4>
            </div>
            <div class="desc">
             One of the best ways of improving your profile is linking external accounts (Github, Linkedin, etc.). External accounts help us verify your portfolio. Plus, we love interacting with our engineers over social media!
         </div>
     </div>

     <div class="accordion-row">
        <div class="title">
            <div class="open-icon"></div>
            <h4>Does ProtoExchange provide any CAD licenses?</h4>
        </div>
        <div class="desc">
          While we do not provide CAD licenses, we do provide a development environment to help organize communication between you and the client. Each engineer is responsible for their own CAD tools.
      </div>
  </div>

  <div class="accordion-row">
        <div class="title">
            <div class="open-icon"></div>
            <h4>Can I decline a request for assistance?</h4>
        </div>
        <div class="desc">
          Yes. If a client's request is not of interest to you or you simply do not have the time to successfully complete the work, we’d prefer you decline the request! We do not penalize you for declining work.
      </div>
  </div>


</div>                
</div>

<div class="col-md-4 col-sm-4">
    <h3 class="h3-body-title">Want to speak with our team?</h3>
    <p> We're happy to answer any questions you may have about our platform.
    </p>
    <button href="" ng-click="leaveAMessage()" class="btn btn-lg">Ask A Question</button>
</div>
</div>
<div class="space-sep40"></div>
</div>