<div class="container">
<div class="space-sep40"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 animated flipInY animatedVisi" data-animtype="flipInY" data-animrepeat="0" data-speed="1s" data-delay="0.5s">
            <h2 class="h2-section-title">We Have The Answers</h2>

            <div class="i-section-title">
                <i class="icon-lifebuoy">

                </i>
            </div>

            <div class="space-sep20"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-sm-8">
            <div class="accordion accordion2" data-toggle="on" data-active-index="">


                <div class="accordion-row">

                    <div class="title">
                        <div class="open-icon"></div>
                        <h4>Cum sociis natoque penatibus et magnis dis parturient montes ?</h4>
                    </div>
                    <div class="desc">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</div>
                </div>


                <div class="accordion-row">

                    <div class="title">
                        <div class="open-icon"></div>
                        <h4>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo ?</h4>
                    </div>
                    <div class="desc">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.</div>
                </div>


                <div class="accordion-row">

                    <div class="title">
                        <div class="open-icon"></div>
                        <h4>In hac habitasse platea dictumst. Curabitur at lacus ac velit ornare lobortis ?</h4>
                    </div>
                    <div class="desc">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut.</div>
                </div>


                <div class="accordion-row">

                    <div class="title">
                        <div class="open-icon"></div>
                        <h4>Pellentesque ut neque. Pellentesque habitant morbi tristique senectus et netus et ?</h4>
                    </div>
                    <div class="desc">Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vestibulum fringilla pede sit amet augue. In turpis. Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus.</div>
                </div>


                <div class="accordion-row">

                    <div class="title">
                        <div class="open-icon"></div>
                        <h4>Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet ?</h4>
                    </div>
                    <div class="desc">Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet</div>
                </div>


                <div class="accordion-row">

                    <div class="title">
                        <div class="open-icon"></div>
                        <h4>Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc ?</h4>
                    </div>
                    <div class="desc">Lorem ipsum dolor sit amet, in pri offendit ocurreret. Vix sumo ferri an. pfs adodio fugit delenit ut qui.</div>
                </div>


                <div class="accordion-row">

                    <div class="title">
                        <div class="open-icon"></div>
                        <h4>Donec vitae sapien ut libero venenatis faucibus ?</h4>
                    </div>
                    <div class="desc">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.</div>
                </div>


                <div class="accordion-row">

                    <div class="title">
                        <div class="open-icon"></div>
                        <h4>Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet ?</h4>
                    </div>
                    <div class="desc">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut.</div>
                </div>


                <div class="accordion-row">

                    <div class="title">
                        <div class="open-icon"></div>
                        <h4>In turpis. Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed ?</h4>
                    </div>
                    <div class="desc">Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vestibulum fringilla pede sit amet augue. In turpis. Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus.</div>
                </div>


            </div>                
        </div>

        <div class="col-md-4 col-sm-4">
            <h3 class="h3-body-title">Couldn’t find the answer?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in mauris tempor purus accumsan dignissim. Morbi risus nisl, adipiscing vel sagittis sit amet, condimentum vitae lectus. Pellentesque nec eros nulla. Vivamus nec ligula dolor. 
                In facilisis suscipit gravida. Nunc malesuada.
            </p>
            <button href="#" class="btn btn-lg">Ask A Question</button>
        </div>
    </div>
<div class="space-sep40"></div>
</div>