<div id="wrapper" ng-controller="PrivacyCtrl">

	<div class="top_wrapper">

		<div 
		ng-include="'partials/header/header.html'"
		></div>

	</div>

	<div class="container">
		<div class="space-sep40"></div>

		<div class="row-fluid">
			<div class="col-md-12 col-sm-12">
				<div class="inner-content">

					<div class="column-text clearfix">

						<div style="text-align: center; width: 70%; margin-right: auto; margin-left: auto;">
							<h2>The following document outlines the privacy policy of the ProtoExchange website.</h2>
							<p>You can also review our <a href="/terms/">Terms of Service</a>.</p>
						</div>

					</div> 
				</div> 
			</div> 
		</div>

		<div class="row-fluid">

			<h3>Privacy Policy</h3>
			<h3><small>Effective as of July 01, 2013</small></h3>

			<p>Protecting your private information is our priority. This Statement of Privacy applies to www.protoexchange.com, and PROTOEXCHANGE  INC and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to PROTOEXCHANGE INC. include www.protoexchange.com (herein referred to as “Website”).  By using the Website, you consent to the data practices described in this statement.</p>


			<h5>Collection of your Personal Information</h5>
			<p>PROTOEXCHANGE may collect personally identifiable information, such as your name. If you purchase PROTOEXCHANGE's products and services, we collect billing and credit card information. This information is used to complete the purchase transaction. PROTOEXCHANGE may also collect anonymous demographic information, which is not unique to you, such as your age and gender.</p>
			<p>We may gather additional personal or non-personal information in the future.</p>


			<p>Information about your computer hardware and software may be automatically collected by PROTOEXCHANGE. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the PROTOEXCHANGE website.</p>


			<p>Please keep in mind that if you directly disclose personally identifiable information or personally sensitive data through PROTOEXCHANGE's public message boards, this information may be collected and used by others.</p>


			<p>PROTOEXCHANGE encourages you to review the privacy statements of websites you choose to link to from the Website so that you can understand how those websites collect, use and share your information. PROTOEXCHANGE is not responsible for the privacy statements or other content on websites outside of the ProtoExchange site.</p>


			<h5>Use of your Personal Information</h5>
			<p>PROTOEXCHANGE collects and uses your personal information to operate its website(s) and deliver the services you have requested.</p>


			<p>PROTOEXCHANGE may also use your personally identifiable information to inform you of other products or services available from PROTOEXCHANGE and its affiliates.</p>
			<p>PROTOEXCHANGE may also contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered.</p>


			<p>PROTOEXCHANGE does not sell, rent or lease its customer lists to third parties.</p>


			<p>PROTOEXCHANGE may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to PROTOEXCHANGE, and they are required to maintain the confidentiality of your information.</p>

			<p>PROTOEXCHANGE may keep track of the websites and pages our users visit within the Website, in order to determine what PROTOEXCHANGE services are the most popular. This data is used to deliver customized content and advertising within PROTOEXCHANGE to customers whose behavior indicates that they are interested in a particular subject area or service.</p>


			<p>PROTOEXCHANGE will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on PROTOEXCHANGE or the site; (b) protect and defend the rights or property of PROTOEXCHANGE; and, (c) act under exigent circumstances to protect the personal safety of users of PROTOEXCHANGE, or the public.</p>


			<h5>Security of your Personal Information</h5>
			<p>PROTOEXCHANGE secures your personal information from unauthorized access, use or disclosure. When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol.</p>

			<h5>Children Under Thirteen</h5>
			<p>PROTOEXCHANGE does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website.</p>


			<h5>Opt-Out &amp; Unsubscribe</h5>
			<p>We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from PROTOEXCHANGE by emailing us at contact@protoexchange.com.</p>

			<h5>Changes to this Statement</h5>
			<p>PROTOEXCHANGE will occasionally update this Statement of Privacy to reflect company and customer feedback. PROTOEXCHANGE encourages you to periodically review this Statement to be informed of how PROTOEXCHANGE is protecting your information.</p>


			<h5>Contact Information</h5>
			<p>PROTOEXCHANGE welcomes your questions or comments regarding this Statement of Privacy. If you believe that PROTOEXCHANGE has not adhered to this Statement, please email us at contact@protoexchange.com.</p>


		</div>


	</div>
	

	<div ng-include="'partials/banners/get-started.html'"></div>
	<div ng-include="'partials/footer/footer.html'"></div>

</div>

</div>