
	<div class="container">

		<div id="splash-nav" class="row" ng-include="'partials/components/primary-nav.html'"></div>


		<div class="row">
			<div class="">
			<h1>ProtoExchange</h1>
			<p class="lead">On demand hardware engineering expertise.</p>
			<p class="">
				<a class="btn btn-primary btn-lg">Learn More</a>
				<a class="btn btn-info btn-lg">Apply For Work</a>
			</p>
			</div>
			<hr/>
		</div>

		<div class="row text-center">
			<div class="col-md-4">
				<h3>one</h3>
				<p>lorum ipsum...</p>
			</div>
			<div class="col-md-4">
				<h3>one</h3>
				<p>lorum ipsum...</p>
			</div>
			<div class="col-md-4">
				<h3>one</h3>
				<p>lorum ipsum...</p>
			</div>
		</div>
	</div>


