<div id="wrapper" ng-controller="KanziCtrl">

  <div class="top_wrapper">

    <div 
    ng-include="'static/partials/header.html'"
    id="contact-header"></div>

    <div id="contact-banner" class="">

      <div  class="container white-text">
        <div class="row">
          <div class="col-md-12 col-sm-12 text-center">
            <h1 class="tp-caption slider-text-title">

            </h1>
          </div>
          
        </div>
      </div>

    </div>
  </div>

  <div class="content-wrapper">
    <div class="body-wrapper">
      <div class="space-sep40"></div>

      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-8">
            <div class="contact-body">
              <h3 class="h3-body-title">
                Contact our Team
              </h3>

              <p class="body_paragraph">
                We're happy to answer any questions you may have about our platform.<br/>Leave us a message and we'll schedule an introductory call.
              </p>

              <div class="space-sep20"></div>


              <div class="social-icons">

                <ul>
                 <!--  <li>
                    <button 
                    style=""
                    ng-click="leaveAMessage()" 
                    class="btn btn-primary">Leave a message</button>
                  </li> -->

                  <li>
                    <a href="https://linkedin.com/company/protoexchange" 
                    target="_blank" class="social-media-icon linkedin-icon" 
                    data-original-title="linkedin">linkedin</a>
                  </li>

                  <li>
                    <a href="https://google.com/+ProtoExchange" 
                    target="_blank" class="social-media-icon googleplus-icon" 
                    data-original-title="googleplus">googleplus</a>
                  </li>


                  <li>
                    <a href="https://twitter.com/protoexchange" 
                    target="_blank" class="social-media-icon twitter-icon" 
                    data-original-title="twitter">twitter</a>
                  </li>

                  <li>
                    <a href="https://reddit.com/r/protoexchange" 
                    target="_blank" class="social-media-icon reddit-icon" 
                    data-original-title="reddit">reddit</a>
                  </li>
<!--
                        <li>
                            <a href="https://facebook.com/protoexchange" 
                            target="_blank" class="social-media-icon facebook-icon" 
                            data-original-title="facebook">facebook</a>
                        </li>
                      -->
                    </ul>

                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-md-offset-1 col-sm-offset-1">
                <div class="sidebar">

                  <div class="sidebar-block">
                    <h3 class="h3-sidebar-title">
                      Contact Us
                    </h3>

                    <div class="sidebar-icon-item">

                      <a href="mailto:contact@protoexchange.com"> <i class="icon-email"></i>  contact@protoexchange.com</a>
                    </div>
                    <div class="sidebar-icon-item">
                      <i class="icon-home"></i>P.O. Box 66641, Austin TX, 78766
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          
        </div>
        <br/>
        <br/>

        <div ng-include="'static/partials/footer.html'"></div>

      </div>

    </div>