<footer>
    <div class="footer">
        <div class="footer-wrapper container">
            <div class="row ">
                <!-- Footer Col. -->
                <div class="col-md-4 col-sm-4 footer-col">
                    <div class="footer-title">
                        About ProtoExchange
                    </div>
                    <div class="footer-content">

                        <div class="footer-content-text">
                            <p>ProtoExchange helps you overcome key challenges by pairing you with Hardware Engineering Specialists.</p>
                            <p>Connect through video consultation and our development environment. Troubleshoot, debug and optimize your hardware designs.</p>
                            <div class="space-sep20"></div>
                            <p>
                                <a href="#!/request-flex"
                                class="btn btn-sm p1-banner">Request An Assistant</a>
                                <a href="#!/apply"
                                class="btn btn-sm btn-primary">Apply For Work</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- //Footer Col.// -->
                <!-- Footer Col. -->
                <div class="col-md-6 col-sm-6 footer-col">
                    <div class="footer-title">
                        Recent Tweets
                    </div>
                    <div class="footer-content footer-recent-tweets-container">
                        <a 
                        class="twitter-timeline"  
                        data-chrome="noheader noborders transparent nofooter" 
                        data-tweet-limit="3" 
                        href="https://twitter.com/ProtoExchange" data-widget-id="519989104746823681">Tweets by @ProtoExchange</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


                    </div>
                </div>
                <!-- //Footer Col.// -->

                <!-- Footer Col. -->
                <div class="col-md-2 col-sm-2 footer-col">

                    <div class="footer-title">
                        Shortcuts
                    </div>
                    <div class="footer-content">
                        <ul class="footer-category-list">
                           <li>
                               <a href="https://dashboard.protoexchange.com">Dashboard</a>
                           </li>
                           <li>
                            <a href="/jobs/">Jobs</a>
                            &nbsp;
                            <span class="label label-warning">
                                We're Hiring!
                            </span>
                        </li>
                        <li>
                            <a href="/success-stories/">
                                Success Stories 
                                &nbsp;
                                <span class="label label-success">
                                    New!
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/pricing/">
                                Plans &amp; Pricing
                            </a>
                        </li>
                        <li>
                            <a href="#!/contact">
                                Contact Us
                            </a>
                        </li>
                        <li>
                            <a href="/faq/">
                                FAQ
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- //Footer Col.// -->
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 center-text">
                    <div class="copyright-text">
                        &copy; 2014 ProtoExchange
                        | 

                        <a href="/terms">
                            Terms of Service
                        </a>
                        |
                        <a href="/privacy">
                            Privacy Policy
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>