<header id="header" >
    <div class="container">

        <div class="row header">

            <!-- Logo -->
            <div class="col-xs-2 logo">
                <a href="#!/welcome">
                    <img id="px-header-logo" src="static/images/brand/px.logo.ga.png" alt="ProtoExchange"/>
                </a>

            </div>
            <!-- //Logo// -->
            <!-- Navigation File -->
            <div class="col-md-10">

                <!-- Mobile Button Menu -->
                <div id="mobile-menu-button" class="mobile-menu-button">
                    <i class="icon icon-settings-streamline-2"></i>
                </div>
                <!-- //Mobile Button Menu// -->

                <nav>
                    <ul class="navigation">
                        <li id="learn-more-nav-li">
                            <a href="javascript:;" >
                                <span class="label-nav">
                                    Learn More
                                </span>
                                <span class="label-nav-sub" data-hover="About ProtoExchange">
                                    About ProtoExchange
                                </span>
                            </a>
                            <ul class="" style="z-index: 2;">
                                <li>
                                    <a href="/success-stories/">
                                        Success Stories
                                    </a>
                                </li>                                  
                                <li>
                                    <a href="/faq/">FAQs</a>
                                </li> 
                            </ul>
                        </li>

                    </ul>
                </nav>

                <!-- Mobile Nav. Container -->
                <ul class="mobile-nav">
                    <li>
                        <a href="/success-stories/">Success Stories
                        </a>
                    </li>                                
                    <li>
                        <a href="/faq/">FAQs</a>
                    </li>  
                </ul>

                <!-- //Mobile Nav. Container// -->
            </div>
            <!-- Nav -->
        </div>
    </div>
</header>


