 <div id="wrapper"ng-controller="KanziCtrl">

  <div class="top_wrapper">

    <div ng-include="'static/partials/header.html'"></div>

  </div>

  <div id="jobs-banner" class="" >
    <div class="space-sep100"></div>
    <div class="space-sep100"></div>
    <div class="space-sep100"></div>
    <div class="space-sep40"></div>
    <div  class="container white-text">
      <div class="row">
        <div class="col-md-12 col-sm-12  text-center">
          <h1 class="slider-text-title">
            Join ProtoExchange
          </h1>
        </div>

      </div>
    </div>
    <div class="space-sep100"></div>
  </div>

  <div class="section-content top-body">
    <div class="center-text">
      <div class="space-sep20"></div>
      <h2 class="h2-section-title">
        Help us revolutionize hardware engineering!
      </h2>
      <div class="space-sep20"></div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      
      <div class="col-md-4 col-sm-4 border-right">
       <div class="space-sep40"></div>
       <h4 class="padded">We're currently hiring:</h3>

        <div class="padded">
          <a class="txt-lg padded" href="/#!/apply"> Engineering Assistants</a>
        </div>

        <div class="padded">
          <a class="txt-lg padded" href="javascript:void();" ng-click="gotoSales()"> Sales &amp; Marketing Lead</a>


        </div>

        <div class="padded">
          <a class="txt-lg padded" href="javascript:void();" ng-click="gotoClientSuccess()"> Client Success Lead</a>
        </div>
        <div class="space-sep40"></div>

      </div>

      <div class="col-md-8 col-sm-8">
       <div class="space-sep40"></div>
       <h2 class="padded">Working at ProtoExchange</h2>
       <p class="padded lead">
        ProtoExchange helps hardware engineers overcome key challenges by pairing them dedicated engineering assistants. If you're excited about the future of electro-mechanical engineering and hardware development, join ProtoExchange!
      </p>

    </div>

  </div>
</div>

<div id="sales-banner" class="" >
  <div class="space-sep100" id="sales-and-marketing"></div>
  <div class="space-sep100"></div>
  <div  class="container white-text">
    <div class="row">
      <div class="col-md-12 col-sm-12  text-center">
        <h1 class="slider-text-title">
          Sales
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-4 col-sm-4 border-right">
      <div class="space-sep40"></div>
      <h1 class="">Sales &amp; Marketing Lead</h1>

      <p class=" lead">
        <strong>Design</strong>, <strong>Execute</strong> and <strong>Optimize</strong> Daily Operations and long term <strong>Strategy</strong>. 
      </p>
      <div class="space-sep40"></div>
      <div class="space-sep40"></div>
    </div>

    <div class="col-md-8 col-sm-8">
      <div class="space-sep40"></div>
      <h2 class="padded lead _npr ">
        Want to build a sales team from the ground up,  
        work the <strong>brightest engineers</strong>, and be part of an <strong>awesome startup</strong>?
        <div class="space-sep40"></div>
        <a class="btn btn-lg btn-primary  pull-right" target="_blank" href="https://angel.co/protoexchange/jobs/43748-sales">Learn More and Apply</a>
      </h2>
      <div class="space-sep40"></div>
    </div>
  </div>
</div>

<div id="client-success-banner" class="" >
  <div class="space-sep100" id="client-success"></div>
  <div class="space-sep100"></div>
  <div  class="container white-text">
    <div class="row">
      <div class="col-md-12 col-sm-12  text-center">
        <h1 class="slider-text-title">
          Client Success
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-4 col-sm-4 border-right">
      <div class="space-sep40"></div>
      <h1 class="">Client Success Lead</h1>

      <p class=" lead">
        Gather and use the data from every interaction to move our team from reactive mode into an effective proactive stance.
      </p>
      <div class="space-sep40"></div>
      <div class="space-sep40"></div>
    </div>

    <div class="col-md-8 col-sm-8">
      <div class="space-sep40"></div>
      <h2 class="padded lead _npr ">
        Participate in product design, create tools client's need, work with marketing to find the right kind of leads, and assist our sales teams with customer aquistion. Through on-boarding and training, ensure that clients are fully engaged and getting the value that they expect.  

        <div class="space-sep40"></div>
        <a class="btn btn-lg btn-primary pull-right" target="_blank" href="https://angel.co/protoexchange/jobs/44730-client-success-lead">Learn More and Apply</a>
      </h2>
      <div class="space-sep40"></div>
    </div>
  </div>
</div>


<div ng-include="'static/partials/get-started.html'"></div>


</div>
<div ng-include="'static/partials/footer.html'"></div>