<div id="wrapper" ng-controller="ResourcesCtrl">

	<div class="top_wrapper">

		<div 
		ng-include="'static/partials/header.html'"
		id="manufacturing-resources-header"></div>

	</div>

	<div id="resources-banner" class="" >
		<div class="space-sep100"></div>
		<div class="space-sep100"></div>
		
		<div class="space-sep40"></div>
		<div  class="container white-text">
			<div class="row">
				<div class="col-md-12 col-sm-12  text-center">
					<h1 class="slider-text-title">
						Documents
					</h1>
				</div>

			</div>
		</div>
		<div class="space-sep100"></div>
	</div>
<!--
	<div class="section-content section-tabs full-tabs">
		<div class="tab-container" style="visibility: visible;" data-easytabs="true">
			<div class="section-tab-arrow" style="left: 49%"></div>
			<div class="section-etabs-container">
				<ul class="section-etabs">

					<li class="tab ">
						<a href="/resources/#!/manufacturers"> Manufacturers</a>
					</li>

					<li class="tab active">
						<a href="/resources/#!/documents" class="active">Documents</a>
					</li>

					<li class="tab">
						<a href="/resources/#!/partners">Partners</a>
					</li>

				</ul>
			</div>
		</div>    
	</div>
-->

<div class="section-content top-body">
	<div class="center-text">
		<div class="space-sep20"></div>
		<h2 class="h2-section-title">
			Organization is critical to engineering success.
		</h2>
		<p class="lead">We hope you find these documents usefull.</p>	
	</div>
</div>

<div class="space-sep40"></div>
<div class="row">
	<div class="container">
		<div class="col-md-12 col-sm-12 ">
			<div class="col-md-8 col-sm-8 ">
				<h2>Templates</h2>
				<div class="padded well">
					<h3 class="">
						<a class="" target="_blank" href="https://drive.google.com/file/d/0BxuruMXAPx9-VzRoTkdnUjJHTjA/view?usp=sharing">
							<i class="icon-lock"></i>
							ProtoExchange NDA
						</a>
					</h3>
					<h3 class="">
						<a class="" target="_blank" href="https://docs.google.com/document/d/1pY2PTVfi7omh4G5PdJe1EdU1RPW64VC3UjSZjleu6Ys/edit?usp=sharing">
							<i class="icon-notebook-streamline"></i>
							Technical Specification
						</a>
					</h3>
<!--
				<h3 class="">
					<a class="" target="_blank" href="https://docs.google.com/spreadsheets/d/1M7LUzOQDyXbcSiqXIiL9kuF6gepmud1uWogMM-Kiwkw/edit?usp=sharing">
						<i class="icon-speech-streamline-talk-user"></i>
						Design Review
					</a>
				</h3>
			-->

			<h3 class="">
				<a class="" target="_blank" href="https://docs.google.com/spreadsheets/d/1zMhsbbmuEiTVUkqT80KWPymnxQ5bxlRjsg-VAms4l3Y/edit?usp=sharing">
					<i class="icon-paperclip"></i>
					Bill of Materials
				</a>
			</h3>

			<h3 class="">
				<a class="" target="_blank" href="https://docs.google.com/document/d/1DTOAUxKRiwZ8x7-MwUgQHULzapmcsAoHZ6lcV4TOYbo/edit?usp=sharing">
					<i class="icon-file-settings"></i>
					Manufacturer RFQ
				</a>
			</h3>
		</div>
	</div>

	<div class="col-md-4 col-sm-4 ">
		
		<h2>Checklists</h2>
		<div class="padded well">
			
			<h3 class="">
				<a class="" target="_blank" href="https://docs.google.com/document/d/1NI0QTLR2UFJf2Mr1yw08L41nthAe_z22xA8sJhYgUIE/edit?usp=sharing">
					<i class="icon-list"></i>
					Schematics
				</a>
			</h3>

			<h3 class="">
				<a class="" target="_blank" href="https://docs.google.com/document/d/12QCk-XglqO0By0tVvTPOs8TiPfYqTgdo0NSlLvCIkYA/edit?usp=sharing">
					<i class="icon-list"></i>
					PCB Layout
				</a>
			</h3>

			<h3 class="">
				<a class="" target="_blank" href="https://docs.google.com/document/d/1-zFsJlD63s44xlxa5ZJ4P48-QRgPwJCNDW5QhiYhOeI/edit?usp=sharing">
					<i class="icon-list"></i>
					Bill of Materials
				</a>
			</h3>

			<h3 class="">
				<a class="" target="_blank" href="https://docs.google.com/document/d/1ku3RIHQCzMyH7gGFwEY7eV6iAMxM6PR62o03Gbeh9Tg/edit?usp=sharing">
					<i class="icon-list"></i>
					Prototype Manufacturing
				</a>
			</h3>

		</div>

	</div>

</div>

</div>

<div class="space-sep40"></div>
<div ng-include="'static/partials/get-started.html'"></div>
<div ng-include="'static/partials/footer.html'"></div>

</div>

</div>