<div id="wrapper" ng-controller="ResourcesCtrl">

	<div class="top_wrapper">

		<div 
		ng-include="'static/partials/header.html'"
		id="manufacturing-resources-header"></div>

	</div>

	<div id="resources-banner" class="" >
		<div class="space-sep100"></div>
		<div class="space-sep100"></div>
		
		<div class="space-sep40"></div>
		<div  class="container white-text">
			<div class="row">
				<div class="col-md-12 col-sm-12  text-center">
					<h1 class="slider-text-title">
						Resources
					</h1>
				</div>

			</div>
		</div>
		<div class="space-sep100"></div>
	</div>

	<div class="section-content section-tabs full-tabs">
		<div class="tab-container" style="visibility: visible;" data-easytabs="true">
			<div class="section-tab-arrow" style="left: 40%;"></div>
			<div class="section-etabs-container">
				<ul class="section-etabs">
					<li class="tab active">
						<a href="/resources/#!/manufacturers" class="active"> Manufacturers</a>
					</li>
					<li class="tab">
						<a href="/resources/#!/documents">Documents</a>
					</li>
					
					<li class="tab">
						<a href="/resources/#!/partners">Partners</a>
					</li>
				
				</ul>
			</div>
		</div>    
	</div>

	<div class="container">
		<div class="space-sep40"></div>

		<div class="row">
			<div class="col-md-12 col-sm-12 ">
				<h2 class="h2-section-title">Search for Manufacturers</h2>

				<div class="i-section-title">
					<i class="icon-factory-lift-streamline-warehouse"></i>
				</div>

				<input 
				ng-model="searchparam" 
				type="text" 
				class="form-control" 
				style='width: 50%; margin-left: auto; margin-right: auto'
				placeholder="Try searching for pcb or 3d printing...">
				<div class="space-sep40"></div>

			</div>
		</div>

	</div>

	<div class="row">

		<div class="container">
			<div class="col-md-6 col-sm-6" ng-repeat="p in manufacturingResources | filter: searchparam">
				<div class="content-box"> 
					<h3>
						<a href="http://{{p.website}}" target="_blank">
							{{p.Business}}
						</a>
					</h3>

					<p>{{p.Services}}</p>
					<h5>
						<span
						ng-repeat="cat in p.Categories"
						class="category-label label label-{{p.CategoryLabels[$index]}}">{{cat}}</span> 
					</h5>
				</div>
			</div>
		</div>

		<div class="space-sep40"></div>
		<div ng-include="'static/partials/get-started.html'"></div>
		<div ng-include="'static/partials/footer.html'"></div>

	</div>

</div>