 <div  class="container" id="testimonials-section">

     <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="space-sep40"></div>
            <h2 class="h2-section-title">What our customers say about us</h2>

            <div class="i-section-title">
                <i class="icon-bubble-love-streamline-talk"></i>
            </div>
            <div class="space-sep20"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="testimonial">
                <div class="testimonial-content">
                    <div class="testimonial-item" style="visibility: visible;">

                        <div class="testimonial-person-pic">
                            <img src="static/images/brand/headshot-kirk.jpg" alt="Jane Doe" class="img-responsive">
                        </div>

                        <div class="testimonial-text">
                            We're a small company with a limited R&amp;D budget and ProtoExchange gave us superb value for every dollar we spent.
                        </div>

                        <div class="testimonial-by">
                            <span class="testimonial-by-name">Kirk Dackow,</span>
                            <span class="testimonial-by-position">President of Capstone Innovations</span>
                        </div>
                    </div>
                </div>
            </div>            
        </div> 
        <div class="col-md-6 col-sm-6">
            <div class="testimonial">
                <div class="testimonial-content">
                    <div class="testimonial-item" style="visibility: visible;">

                        <div class="testimonial-person-pic">
                            <img src="static/images/clients/atlas/headshot-mike.jpg" alt="John Doe" class="img-responsive">
                        </div>

                        <div class="testimonial-text">
                            When I was touring manufacturers in Shenzhen, ProtoExchange assisted with our PCB minaturization, helping our team stay focused and on-schedule.
                        </div>

                        <div class="testimonial-by">
                            <span class="testimonial-by-name">Mike Kasparian,</span>
                            <span class="testimonial-by-position">
                                CTO at <a href="http://atlaswearables.com/">Atlas Wearables</a>    
                            </span>
                        </div>
                    </div>
                </div>
            </div>            
        </div> 
    </div>
    <div class="space-sep40"></div>
</div>