<table class="table table-hover ">
<thead>
  <tr>
    <th>Monthly Plan Features</th>
    <th>Junior</th>
    <th>Pro</th>
    <th>Expert</th>
    <th>Verteran</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>A Dedicated ProtoExchange Engineer</td>
    <td><i class="fa fa-check"></i></td>
    <td><i class="fa fa-check"></i></td>
    <td><i class="fa fa-check"></i></td>
    <td><i class="fa fa-check"></i></td>
  </tr>
  <tr>
    <td>Time Per Month</td>
    <td>2 Hours</td>
    <td>4 Hours</td>
    <td>6 Hours</td>
    <td>8 Hours</td>
  </tr>
</tbody>
</table>

<p class="text-center">Disclaimer text. ..Disclai mer text...Discl aimer tex t...Discla imer text...Disclaimer text.. .Discl a<br/>imer tex t...D iscl aimer text...D iscl aimer text...Disc laimer text...</p>