<div id="wrapper" ng-controller="KanziCtrl" ng-cloak>

  <div class="top_wrapper">


    <div 
    ng-include="'partials/common/header.html'"
    id="pricing-header"></div>

     <div 
     ng-include="'partials/pages/pricing/slider.html'"
     id="pricing-slider"
     ></div>

  </div>

  <div class="content-wrapper">
    <div class="body-wrapper">
      <div ng-include="'partials/pages/pricing/banner.html'"></div>
      <div ng-include="'partials/pages/pricing/tiers.html'"></div>
      <div id="services-2" ng-include="'partials/common/have-questions.html'"></div>
    </div>

    <div ng-include="'partials/common/footer.html'"></div>

  </div>

</div>