

		<div class="row" id="pricing-header">

			<div id="splash-nav" class="row" ng-include="'partials/components/primary-nav.html'"></div>
			<div class="container">
				<div class="well well-small text-center" id="plans-and-pricing-box">
					<h1 class="">Plans & Pricing</h1>
				</div>
			</div>
		</div>

		<div class="row" id="promo-row">
			<div class="text-center" id="promo-text">
				<h3>Try a ProtoExchange Engineer for 14 days, risk free</h3>
			</div>
		</div>

		<div class="row" id="pricing-row">

			<div class="container">
				<div id="pricing-tab-header">
					<button class="btn btn-primary">Month-to-Month Plans</button>
					<button class="btn btn-default">One Year (15% Discount)</button>
				</div>
			</div>

			<div ng-include="'partials/pages/pricing/tiers.html'"></div>

		</div>

		<div class="row" id="membership-row">
			<div class="container" ng-include="'partials/pages/pricing/membership.html'"></div>
		</div>

		<div class="row" id="sales-row">
			<div class="container text-center">
				<h3 id="sales-pitch">Unsure which Plan is right for you?<br/>
				Schedule a call with our sales team.</h3>
			</div>	
		</div>

		<div class="row" id="faq-header-row">
			<div class="container">
				<div class="well well-small text-center" id="plans-and-pricing-box">
					<h1 class="">Plan Faqs</h1>
				</div>
			</div>
		</div>

		<div class="row" id="faq-row">
			<div class="container">
				<div class="col-md-12">
					<h1 class="">Plan Faqs</h1>
				</div>
				
			</div>

			<div class="container">
				<div class="col-md-4">
					<div>
						<h3>Questions</h3>
						<h5>Long Very Long Anwer. Long Very Long Anwer. Long Very Long Anwer. Long Very Long Anwer. Long Very Long Anwer. Long Very Long Anwer. </h5>
					</div>
				</div>
				<div class="col-md-4">
					<div>
						<h3>Questions</h3>
						<h5>Long Very Long Anwer. Long Very Long Anwer. Long Very Long Anwer. Long Very Long Anwer. Long Very Long Anwer. Long Very Long Anwer. </h5>
					</div>
				</div>
				<div class="col-md-4">
					<div>
						<h3>Questions</h3>
						<h5>Long Very Long Anwer. Long Very Long Anwer. Long Very Long Anwer. Long Very Long Anwer. Long Very Long Anwer. Long Very Long Anwer. </h5>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="col-md-12">
				<p class="lead">Need something else? <a href="#">Go Here</a></p>
				</div>
			</div>
		</div>

		<div class="row" id="testimonials-row">
			<div class="container">
				<div class="col-md-4">
					<div>
						<h3>Alice</h3>
						<h5>Long Very Long Anwer. Long Very Long Anwer. Long Very Long Anwer. Long Very Long Anwer. Long Very Long Anwer. Long Very Long Anwer. </h5>
					</div>
				</div>
				<div class="col-md-4">
					<div>
						<h3>Bob</h3>
						<h5>Long Very Long Anwer. Long Very Long Anwer. Long Very Long Anwer. Long Very Long Anwer. Long Very Long Anwer. Long Very Long Anwer. </h5>
					</div>
				</div>
				<div class="col-md-4">
					<div>
						<h3>Eve</h3>
						<h5>Long Very Long Anwer. Long Very Long Anwer. Long Very Long Anwer. Long Very Long Anwer. Long Very Long Anwer. Long Very Long Anwer. </h5>
					</div>
				</div>
			</div>
		</div>

		<div class="row" id="partners-row">
			<div class="container">
				<div class="col-md-6">
					<h1 id="partners-pitch">Some challenges take teamwork to tackle.</h1>
				</div>
				<div class="col-md-6">
					<h3 id="partners-network"><em>Sometimes you'll need engineering or manufacturing assitance beyong what ProtoExchange Engineers can provide. Thats where the ProtoExchange Partner Network comes in.</em></h3>
					<button class="btn btn-primary">ProtoExchange Partners</button>
				</div>
			</div>	
			<br/>
		</div>

	
