<div class="container">
<div class="space-sep100"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
        <h2 class="h2-section-title">Subscription Plans</h2>
            <div class="i-section-title">
                <i class="fa fa-table">
                </i>
            </div>
        </div>
    </div>
    <div class="space-sep40"></div>
    <div class="row row-no-margin">
        <div class="col-md-3 col-sm-3">
            <div class="price-table ">
                <div class="price-table-header">

                    <div class="price-label">
                        <div class="price-label-name">
                            basic

                        </div>

                    </div>
                    <div class="price-value">
                        <div class="price-number">20</div>
                        <div class="price-unit">  $ </div>
                        <div class="price-per"> / month</div>

                    </div>
                </div>

                <div class="price-table-rows">

                    <div class="price-table-row">
                        Sample Text Here
                    </div>
                    <div class="price-table-row">
                        Sample Text Here
                    </div>
                    <div class="price-table-row">
                        Sample Text Here
                    </div>
                    <div class="price-table-row">
                        Sample Text Here
                    </div>

                </div>
                <div class="price-table-row-bottom">
                    <a href="#" class="btn btn-flat">
                        SIGNUP NOW
                    </a>
                </div>    
            </div>                </div>
            <div class="col-md-3 col-sm-3">
                <div class="price-table ">
                    <div class="price-table-header">

                        <div class="price-label">
                            <div class="price-label-name">
                                basic

                            </div>

                        </div>
                        <div class="price-value">
                            <div class="price-number">20</div>
                            <div class="price-unit">  $ </div>
                            <div class="price-per"> / month</div>

                        </div>
                    </div>

                    <div class="price-table-rows">

                        <div class="price-table-row">
                            Sample Text Here
                        </div>
                        <div class="price-table-row">
                            Sample Text Here
                        </div>
                        <div class="price-table-row">
                            Sample Text Here
                        </div>
                        <div class="price-table-row">
                            Sample Text Here
                        </div>

                    </div>
                    <div class="price-table-row-bottom">
                        <a href="#" class="btn btn-flat">
                            SIGNUP NOW
                        </a>
                    </div>    
                </div>                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="price-table price-table-special">
                        <div class="price-table-header">

                            <div class="price-label">
                                <div class="price-label-name">
                                    professional

                                </div>

                            </div>
                            <div class="price-value">
                                <div class="price-number">35</div>
                                <div class="price-unit">  $ </div>
                                <div class="price-per"> / month</div>

                            </div>
                        </div>

                        <div class="price-table-rows">

                            <div class="price-table-row">
                                Sample Text Here
                            </div>
                            <div class="price-table-row">
                                Sample Text Here
                            </div>
                            <div class="price-table-row">
                                Sample Text Here
                            </div>
                            <div class="price-table-row">
                                Sample Text Here
                            </div>

                        </div>
                        <div class="price-table-row-bottom">
                            <a href="#" class="btn btn-flat">
                                SIGNUP NOW
                            </a>
                        </div>    
                    </div>                </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="price-table ">
                            <div class="price-table-header">

                                <div class="price-label">
                                    <div class="price-label-name">
                                        unlimited

                                    </div>

                                </div>
                                <div class="price-value">
                                    <div class="price-number">120</div>
                                    <div class="price-unit">  $ </div>
                                    <div class="price-per"> / month</div>

                                </div>
                            </div>

                            <div class="price-table-rows">

                                <div class="price-table-row">
                                    Sample Text Here
                                </div>
                                <div class="price-table-row">
                                    Sample Text Here
                                </div>
                                <div class="price-table-row">
                                    Sample Text Here
                                </div>
                                <div class="price-table-row">
                                    Sample Text Here
                                </div>

                            </div>
                            <div class="price-table-row-bottom">
                                <a href="#" class="btn btn-flat">
                                    SIGNUP NOW
                                </a>
                            </div>    
                        </div>                </div>

                    </div>
                </div>