
			<div class="container">
				<div class="col-md-3">
					<div class="pricing-tier well well-small">
						<div class="pricing-tier-header text-center">
							<h1>Basic</h1>
							<h1 class="membership-fee">$199</h1>
							<p class="monthly-membership">Monthly Membership</p>
							<button class="btn btn-block btn-warning">Get Started</button>
							<div class="gap-sm"></div>
						</div>

						<div class="pricing-tier-description">
							<div class="gap-sm"></div>
							<p>Our Basic Plan is perfect for the delegator looking to 
							offload tasks to a dedicated ZA so they can focus on more 
							important things.</p>
						</div>
						<div class="pricing-tier-vp">
							<strong>Value Prop</strong>
						</div>
						<div class="pricing-tier-vp">
							<strong>Value Prop</strong> 
						</div>
						<div class="pricing-tier-vp">
							Value Prop 
						</div>
						<div class="pricing-tier-vp">
							Value Prop 
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="pricing-tier well well-small">
						<div class="pricing-tier-header text-center">
							<h1>Basic</h1>
							<h1 class="membership-fee">$199</h1>
							<p class="monthly-membership">Monthly Membership</p>
							<button class="btn btn-block btn-warning">Get Started</button>
							<div class="gap-sm"></div>
						</div>

						<div class="pricing-tier-description">
							<div class="gap-sm"></div>
							<p>Our Basic Plan is perfect for the delegator looking to 
							offload tasks to a dedicated ZA so they can focus on more 
							important things.</p>
						</div>
						<div class="pricing-tier-vp">
							<strong>Value Prop</strong>
						</div>
						<div class="pricing-tier-vp">
							<strong>Value Prop</strong> 
						</div>
						<div class="pricing-tier-vp">
							Value Prop 
						</div>
						<div class="pricing-tier-vp">
							Value Prop 
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="pricing-tier well well-small">
						<div class="pricing-tier-header text-center">
							<h1>Basic</h1>
							<h1 class="membership-fee">$199</h1>
							<p class="monthly-membership">Monthly Membership</p>
							<button class="btn btn-block btn-warning">Get Started</button>
							<div class="gap-sm"></div>
						</div>

						<div class="pricing-tier-description">
							<div class="gap-sm"></div>
							<p>Our Basic Plan is perfect for the delegator looking to 
							offload tasks to a dedicated ZA so they can focus on more 
							important things.</p>
						</div>
						<div class="pricing-tier-vp">
							<strong>Value Prop</strong>
						</div>
						<div class="pricing-tier-vp">
							<strong>Value Prop</strong> 
						</div>
						<div class="pricing-tier-vp">
							Value Prop 
						</div>
						<div class="pricing-tier-vp">
							Value Prop 
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="pricing-tier well well-small">
						<div class="pricing-tier-header text-center">
							<h1>Basic</h1>
							<h1 class="membership-fee">$199</h1>
							<p class="monthly-membership">Monthly Membership</p>
							<button class="btn btn-block btn-warning">Get Started</button>
							<div class="gap-sm"></div>
						</div>

						<div class="pricing-tier-description">
							<div class="gap-sm"></div>
							<p>Our Basic Plan is perfect for the delegator looking to 
							offload tasks to a dedicated ZA so they can focus on more 
							important things.</p>
						</div>
						<div class="pricing-tier-vp">
							<strong>Value Prop</strong>
						</div>
						<div class="pricing-tier-vp">
							<strong>Value Prop</strong> 
						</div>
						<div class="pricing-tier-vp">
							Value Prop 
						</div>
						<div class="pricing-tier-vp">
							Value Prop 
						</div>
					</div>
				</div>
			</div>

