<div class="container">

    <div class="space-sep40"></div>
    <div class="row row-no-margin">
        <div class="col-md-3 col-sm-3">
            <div class="price-table ">
                <div class="price-table-header ">

                    <div class="price-label">
                        <div class="price-label-name" >
                            Personal
                        </div>

                    </div>
                    <div class="price-value">
                        <div class="price-number">340</div>
                        <div class="price-unit">  $ </div>
                        <div class="price-per"> / month</div>
                    </div>
                </div>

                <div class="price-table-rows">

                   <div class="price-table-row">
                    <p class="plan-info">
                        The Personal Plan is great for small teams seeking assistance with simple engineering work.
                    </p>
                </div>

                <div class="price-table-row">
                    <span class="plan-feature">
                        <strong>Up to 4 Hours</strong>
                    </span>
                    <i class="t0-check fa fa-check-circle"></i>
                </div>
                <div class="price-table-row">
                    <span class="plan-feature">
                        Design Reviews
                    </span>
                    <i class="t1-check fa fa-check-circle"></i>
                </div>
                <div class="price-table-row">
                    <span class="plan-feature">
                        Model Correction
                    </span> 
                    <i class="t1-check fa fa-check-circle"></i>
                </div>
                <div class="price-table-row">
                    <span class="plan-feature">
                        Component Research
                    </span>
                    <i class="t1-check fa fa-check-circle"></i>
                </div>

            </div>
            <div class="price-table-row-bottom">
                <a href="#!/request-protege" class="btn btn-flat">
                    SIGNUP NOW
                </a>
            </div>    
        </div>               
    </div>
    <div class="col-md-3 col-sm-3">
        <div class="price-table ">
            <div class="price-table-header p1-banner">

                <div class="price-label ">
                    <div class="price-label-name p1-label">
                        Professional
                    </div>

                </div>
                <div class="price-value ">
                    <div class="price-number">960</div>
                    <div class="price-unit">  $ </div>
                    <div class="price-per"> / month</div>

                </div>
            </div>



            <div class="price-table-rows p1-rows">

                <div class="price-table-row">
                    <p class="plan-info">
                        The Professional Plan is a good choice for teams seeking assistance with significant design &amp; development tasks. 
                    </p>
                </div>

                <div class="price-table-row">
                    <span class="plan-feature">
                        <strong>Up to 12 Hours</strong>
                    </span>
                    <i class="t0-check fa fa-check-circle"></i>
                </div>
                <div class="price-table-row">
                    <span class="plan-feature">
                        Mechanical CAD Work
                    </span>
                    <i class="t2-check fa fa-check-circle"></i>
                </div>
                <div class="price-table-row">
                    <span class="plan-feature">
                        Schematic Symbol Libraries
                    </span>
                    <i class="t2-check fa fa-check-circle"></i>
                </div>
                <div class="price-table-row">
                    <span class="plan-feature">
                        PCB Design &amp; Layout
                    </span>
                    <i class="t2-check fa fa-check-circle"></i>
                </div>



            </div>
            <div class="price-table-row-bottom">
                <a href="#!/request-professional" class="btn btn-flat p1-banner">
                    SIGNUP NOW
                </a>
            </div>    
        </div>               
    </div>
    <div class="col-md-3 col-sm-3">
        <div class="price-table ">
            <div class="price-table-header">

                <div class="price-label">
                    <div class="price-label-name">
                        Executive
                    </div>

                </div>
                <div class="price-value">
                    <div class="price-number">2,700</div>
                    <div class="price-unit">  $ </div>
                    <div class="price-per"> / month</div>

                </div>
            </div>

            <div class="price-table-rows">
                <div class="price-table-row">
                    <p class="plan-info">
                        The Executive Plan is for extensive tasks, covering the full spectrum of research, design, and manufacturing.
 
                    </p>
                </div>

                <div class="price-table-row">
                    <span class="plan-feature">
                        <strong>Up to 36 Hours</strong>
                        <i class="t0-check fa fa-check-circle"></i>
                    </span>
                </div>

                <div class="price-table-row">
                    <span class="plan-feature">
                        Manufacturing Assistance
                    </span>
                    <i class="t3-check fa fa-check-circle"></i>
                </div>
                <div class="price-table-row">
                    <span class="plan-feature">
                        Bill of Materials Management
                    </span>
                    <i class="t3-check fa fa-check-circle"></i>
                </div>
                <div class="price-table-row">
                    <span class="plan-feature">
                        Firmware Review
                    </span>
                    <i class="t3-check fa fa-check-circle"></i>
                </div>


            </div>
            <div class="price-table-row-bottom">
                <a href="#!/request-executive" class="btn btn-flat">
                    SIGNUP NOW
                </a>
            </div>    
        </div>               
    </div>
    <div class="col-md-3 col-sm-3">
        <div class="price-table ">
            <div class="price-table-header">

                <div class="price-label">
                    <div class="price-label-name">
                        Enterprise
                    </div>
                </div>
                <div class="price-value">
                    <h2 class="white-text enterprise-plan-price">Flexible</h2>
                </div>
            </div>

            <div class="price-table-rows">

                <div class="price-table-row">
                    <p class="plan-info">
                       Require more hours or a larger, dedicated team? Call us to discuss our Enterprise capabilities.
                    </p>
                </div>

                <div class="price-table-row">
                    <span class="plan-feature">
                        <strong>Over 36 Hours</strong>
                    </span>
                    <i class="t0-check fa fa-check-circle"></i>
                </div>

                <div class="price-table-row">
                    <span class="plan-feature">
                        Multiple Engineers
                    </span>
                    <i class="t4-check fa fa-check-circle"></i>
                </div>
                <div class="price-table-row">
                    <span class="plan-feature">
                        White Label Solution
                    </span>
                    <i class="t4-check fa fa-check-circle"></i>
                </div>
                <div class="price-table-row">
                    <span class="plan-feature">
                        Design Competitions
                    </span>
                    <i class="t4-check fa fa-check-circle"></i>
                </div>
            </div>
            <div class="price-table-row-bottom">
                <a href="#!/contact" class="btn btn-flat">
                    Contact Us
                </a>
            </div>    
        </div>                
    </div>

</div>
</div>
<div class="space-sep100"></div>