<div class="container">
    <div class="space-sep40"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 animated flipInY animatedVisi" data-animtype="flipInY" data-animrepeat="0" data-speed="1s" data-delay="0.5s">
            <h2 class="h2-section-title">Manufacturing Resources</h2>

            <div class="i-section-title">
                <i class="icon-factory-lift-streamline-warehouse">

                </i>
            </div>



            
            <input 
            ng-model="searchparam" 
            type="text" 
            class="form-control" 
            style='width: 50%; margin-left: auto; margin-right: auto'
            placeholder="Try searching for pcb">
            <div class="space-sep40"></div>

            <div class="text-center">
             Interested in a specifc geographic region? Try our <a href="#!/map">Manufacturers Map</a>.
         </div>
         <div class="space-sep40"></div>

     </div>
 </div>

</div>

<div class="row">

    <div class="container">
        <div class="col-md-6 col-sm-6" ng-repeat="p in manufacturingResources | filter: searchparam">
            <div class="content-box"> 
                <h3>
                    <a href="http://{{p.website}}" target="_blank">
                        {{p.Business}}
                    </a>
                </h3>

                <p>{{p.Services}}</p>
                <h5>
                    <span
                    ng-repeat="cat in p.Categories"
                    class="category-label label label-{{p.CategoryLabels[$index]}}">{{cat}}</span> 
                </h5>
            </div>
        </div>
    </div>

    <div class="space-sep40"></div>