<div id="wrapper">

  <div class="top_wrapper">

    <div 
    ng-include="'partials/common/header.html'"
    id="contact-header"></div>

    <div 
    ng-include="'partials/pages/contact/slider.html'"
    id="contact-slider"
    ></div>

  </div>

  <div class="content-wrapper">
    <div class="body-wrapper">
      <div class="space-sep40"></div>

      <div ng-include="'partials/pages/contact/content.html'"></div>
    
    </div>

    <div ng-include="'partials/common/footer.html'"></div>

  </div>

</div>