<div class="container">
    <div class="row">                    

        <div class="col-md-3 col-sm-3">
            <div class="content-box content-style2">
                <h4 class="h4-body-title animated" data-animtype="bounceIn" data-animrepeat="0"
                data-animdelay="0s">
                <i class="icon-settings-streamline"></i>
                Fully Customizable
            </h4>
            <div class="content-box-text animated" data-animtype="fadeInDown" data-animrepeat="0"
            data-animdelay="0s">
            Cras sem erat, aliquet in egestas cursus, ullamcorper vitae
            ligula. Nunc commodo lacinia eros ac condimentum
            <a href="#" class="read-more"> 
                <span>read more</span>
                <i class="icon-chevron-right"></i>            
            </a>
        </div>
    </div>
</div>

<div class="col-md-3 col-sm-3">
    <div class="content-box content-style2">
        <h4 class="h4-body-title animated" data-animtype="bounceIn" data-animrepeat="0"
        data-animdelay="0.2s">
        <i class="icon-camera-streamline-video"></i>
        Animation Ready
    </h4>
    <div class="content-box-text animated" data-animtype="fadeInDown" data-animrepeat="0"
    data-animdelay="0.2s">
    Cras sem erat, aliquet in egestas cursus, ullamcorper vitae
    ligula. Nunc commodo lacinia eros ac condimentum
    <a href="#" class="read-more"> 
        <span>read more</span>
        <i class="icon-chevron-right"></i>            
    </a>
</div>
</div>
</div>

<div class="col-md-3 col-sm-3">
    <div class="content-box content-style2">
        <h4 class="h4-body-title animated" data-animtype="bounceIn" data-animrepeat="0"
        data-animdelay="0.4s">
        <i class="icon-computer-imac"></i>
        Responsive Design
    </h4>
    <div class="content-box-text animated" data-animtype="fadeInDown" data-animrepeat="0"
    data-animdelay="0.4s">
    Cras sem erat, aliquet in egestas cursus, ullamcorper vitae
    ligula. Nunc commodo lacinia eros ac condimentum
    <a href="#" class="read-more"> 
        <span>read more</span>
        <i class="icon-chevron-right"></i>            
    </a>
</div>
</div>
</div>

<div class="col-md-3 col-sm-3">
    <div class="content-box content-style2">
        <h4 class="h4-body-title animated" data-animtype="bounceIn" data-animrepeat="0"
        data-animdelay="0.6s">
        <i class="icon-paint-bucket-streamline"></i>
        Unlimited Skins
    </h4>
    <div class="content-box-text animated" data-animtype="fadeInDown" data-animrepeat="0"
    data-animdelay="0.6s">
    Cras sem erat, aliquet in egestas cursus, ullamcorper vitae
    ligula. Nunc commodo lacinia eros ac condimentum
    <a href="#" class="read-more"> 
        <span>read more</span>
        <i class="icon-chevron-right"></i>            
    </a>
</div>
</div>
</div>
</div>

<div class="space-sep40"></div> 

</div>