<div class="section-content section-color-dark-blue white-text">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 animated " data-animtype="fadeInLeftBig"
            data-animrepeat="0"
            data-speed="1s"
            data-delay="0.4s">
            <div class="space-sep100"></div>


            <h2 class="h2-section-title">Full Block Color Background</h2>
            <h3 class="h3-section-info">Lorem ipsum dolor sit amet, in pri offendit ocurreret. Vix sumo ferri an. pfs adodio fugit delenit ut qui. Omittam suscipiantur ex  vel,ex audiam  intellegat gfIn labitur discere eos, nam an feugiat voluptua.</h3>
        </div>


        <div class="col-md-6 col-sm-6 animated " data-animtype="fadeInRightBig"
        data-animrepeat="0"
        data-speed="1s"
        data-delay="0.4s">
        <div class="right-image-container">
            <img src="css/kanzi/images/placeholders/screens-mockup-placeholder.png" alt="MockUp"/>
        </div>
    </div>
</div>
</div>
</div>