<div class="container">
    <div class="space-sep40"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
        <h2 class="h2-section-title">Flexible Engineering Assistance</h2>

            <div class="i-section-title">
                <i class="icon-users"></i>
            </div>
            <div class="space-sep20"></div>
        </div>
    </div>
    <div class="row">    

        <div class="col-md-4 col-sm-4">
            <div class="content-box content-style1">
                <h4 class="h4-body-title animated" data-animtype="fadeInDown" data-animrepeat="0"
                data-animdelay="0s">
                <i class="icon-design-pencil-rule-streamline"></i>
                Organization
            </h4>
            <div class="content-box-text animated" data-animtype="fadeInDown" data-animrepeat="0"
            data-animdelay="0s">
            Stay organized by having a dedicated engineer handle the peripherals of Hardware design. Our engineers will simplify complex processes into easy, digestible, packages - keeping you focused and organized. 
        </div>

        <div class="content-box-text animated" data-animtype="fadeInDown" data-animrepeat="0"
        data-animdelay="0s">
        <hr/>
        <ul class="icons-list check-2 colored-list good-for">
            <li>Bill of Materials Management</li>
            <li>RFQ/RFP Management</li>
            <li>Component Datasheet Aggregation</li>
            <li>Component Purchasing</li>
        </ul>
        <br/>
        <ul class="icons-list remove colored-list bad-for">
            <li>Project Mangement</li>
            <li>Customer Relationship Management</li>
        </ul>

    </div>
</div>
</div>


<div class="col-md-4 col-sm-4">
    <div class="content-box content-style1">
        <h4 class="h4-body-title animated" data-animtype="fadeInDown" data-animrepeat="0"
        data-animdelay="0s">
        <i class="icon-book-dowload-streamline  "></i>
        Research
    </h4>
    <div class="content-box-text animated" data-animtype="fadeInDown" data-animrepeat="0"
    data-animdelay="0s">
    Search for a dig up important, technical details pertaining to Hardware design. Use ProtoExchange to accelerate research efforts - make better informed decisions and stay a step-ahead.
</div>

<div class="content-box-text animated" data-animtype="fadeInDown" data-animrepeat="0"
data-animdelay="0s">
<hr/>
<ul class="icons-list check-2 colored-list good-for">
    <li>Component Research</li>
    <li>Manufacturing Research</li>
    <li>Price Comparison</li>
    <li>Technical Specifications</li>
</ul>
<br/>
<ul class="icons-list remove colored-list bad-for">
    <li>Testing &amp; Validation</li>
</ul>
</div>
</div>
</div>

<div class="col-md-4 col-sm-4">
    <div class="content-box content-style1">
        <h4 class="h4-body-title animated" data-animtype="fadeInDown" data-animrepeat="0"
        data-animdelay="0s">
        <i class="icon-computer-imac"></i>
        Design
    </h4>
    <div class="content-box-text animated" data-animtype="fadeInDown" data-animrepeat="0"
    data-animdelay="0s">
    ProtoExchange engineers can assist with both electrical and mechancial designs, as well as firmware, enabling you to focus on what to fix, not how to fix it.  Build a better product with ProtoExchange.
</div>

<div class="content-box-text animated" data-animtype="fadeInDown" data-animrepeat="0"
data-animdelay="0s">
<hr/>
<ul class="icons-list check-2 colored-list good-for">
    <li>Component Libraries</li>
    <li>PCB Footprint Design &amp; Optimization</li>
    <li>Schematic/PCB Design Review</li>
    <li>Firmware Review</li>
</ul>
<br/>
<ul class="icons-list remove colored-list bad-for">
    <li>Full Product Design</li>
    <li>Firmware Development</li>
    <li>Certifications</li>
</ul>
</div>
</div>
</div>

</div>
</div>


</div>

<div class="space-sep40"></div> 

</div>