<div class="container">
    <div class="space-sep40"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h2 class="h2-section-title">Engineering Assistance with...</h2>

            <div class="i-section-title">
                <i class="icon-settings-streamline-2"></i>
            </div>
            <div class="space-sep20"></div>
        </div>
    </div>
    <div class="row">    

        <div class="col-md-4 col-sm-4">
            <div class="content-box content-style1">
                <h4 class="h4-body-title animated" data-animtype="fadeInDown" data-animrepeat="0"
                data-animdelay="0s">
                <i class="icon-design-pencil-rule-streamline"></i>
                <strong>Research</strong> &amp; Organization
            </h4>
            <div class="content-box-text animated" data-animtype="fadeInDown" data-animrepeat="0"
            data-animdelay="0s">
            Research, Analysis, Documentation &amp; Design Reviews benefit your entire team. Hand off your time-sinking tasks to our engineers; focus on your product.
        </div>

        <div class="content-box-text animated" data-animtype="fadeInDown" data-animrepeat="0"
        data-animdelay="0s">
        <hr/>
        <ul class="icons-list check-1 colored-list good-for">
            <li>Requirements Specifications</li>
            <li>Schematic Design Review</li>
            <li>Component Library &amp Datasheet Management</li>
            <li>Bill of Materials Optimization</li>
            <li>Mechanical Design Review</li>
            <li>Electical Design Review</li>
            <li>Firmware Review</li>
            <li>Compliance Research</li>
        </ul>
        <br/>
        <ul class="icons-list remove colored-list bad-for">
            <li>Project Mangement</li>
            <li>Customer Relationship Management</li>
            <li>Marketing Research</li>
        </ul>

    </div>
</div>
</div>


<div class="col-md-4 col-sm-4">
    <div class="content-box content-style1">
        <h4 class="h4-body-title animated" data-animtype="fadeInDown" data-animrepeat="0"
        data-animdelay="0s">
        <i class="icon-design-graphic-tablet-streamline-tablet"></i>
        <strong>Design</strong> &amp; Development
    </h4>
    <div class="content-box-text animated" data-animtype="fadeInDown" data-animrepeat="0"
    data-animdelay="0s">
    3D Modeling, CAD Design, PCB Design &amp; Layout, Embedded Software Development. Accelerate your hardware development with ProtoExchange.
</div>

<div class="content-box-text animated" data-animtype="fadeInDown" data-animrepeat="0"
data-animdelay="0s">
<hr/>
<ul class="icons-list check-1 colored-list good-for">
    <li>Technical Specification</li>
    <li>Schematic Symbol Libraries</li>
    <li>PCB Footprint Design &amp; Optimization</li>
    <li>Mechanical Enclosure Design</li>
    <li>Computational Modeling</li>
    <li>Embedded Development Assistance</li>
    <li>RF, NFC, RFID, Bluetooth &amp; WiFi Interface Design</li>
    <li>Design for Manufacturing Optimization</li>
</ul>
<br/>
<ul class="icons-list remove colored-list bad-for">
    <li>Full Product Development</li>
    <li>Industrial Design</li>
</ul>
</div>
</div>
</div>

<div class="col-md-4 col-sm-4">
    <div class="content-box content-style1">
        <h4 class="h4-body-title animated" data-animtype="fadeInDown" data-animrepeat="0"
        data-animdelay="0s">
        <i class="icon-factory-lift-streamline-warehouse"></i>
        <strong>Manufacturing</strong> &amp; Logistics
    </h4>
    <div class="content-box-text animated" data-animtype="fadeInDown" data-animrepeat="0"
    data-animdelay="0s">
    Order components, manage multiple RFQ/RFPs, and receive manufacturing, logistics and compliance assistance for your prototype.
</div>

<div class="content-box-text animated" data-animtype="fadeInDown" data-animrepeat="0"
data-animdelay="0s">
<hr/>
<ul class="icons-list check-1 colored-list good-for">
    <li>RFQ/RFP Management</li>
    <li>Manufacturing Cost Analysis</li>
    <li>Fufillment Research</li>
    <li>Component Purchasing</li>
    <li>PCB Assembly Management</li>
    <li>Testing &amp; Validation</li>
</ul>
<br/>
<ul class="icons-list remove colored-list bad-for">
    <li>High Volume Manufacturing</li>
    <li>Certifications</li>
</ul>
</div>
</div>
</div>

</div>
</div>


</div>

<div class="space-sep40"></div> 

</div>