<div id="welcome-slider" class="rev-slider-full">
    <div class="rev-slider-banner-full  rev-slider-full">
        <ul>
            <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
                <img id="welcome-slide-0-bg" src="images/unsplash/apple.jpg" alt="rev-full1" data-fullwidthcentering="on">
                <!--
                <div class="tp-caption lfb stb stl"
                data-x="-84"
                data-y="69"
                data-speed="300"
                data-start="500"
                >
                <img src="css/kanzi/images/placeholders/boy-layer-placeholder.png" alt="Image 1">
            </div>
-->
            <div class="tp-caption slider-text-title sft str"
            data-x="50"
            data-y="100"
            data-speed="300"
            data-start="800"
            >
            <span id="welcome-slider-slogan">Hardware Expertise</span>

        </div>

        <div class="tp-caption slider-text-description sfl str"
        data-x="50"
        data-y="150"
        data-speed="200"
        data-start="1100"
        >
        <span id="welcome-slider-one-line-pitch">From Dedicated Engineering Assistants</span>
    </div>

    <div class="tp-caption slider-text-description sfl str"
    data-x="50"
    data-y="200"
    data-speed="200"
    data-start="1400"
    >
    <a href="#!/pricing" class="btn btn-primary btn-lg">Learn More</a>
</div>



</li>


</ul>
<div class="tp-bannertimer tp-bottom"></div>
</div>
</div>