<div id="welcome-slider" class="rev-slider-full">
    <div class="rev-slider-banner-full  rev-slider-full">
        <ul>
            <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
                <img id="welcome-slide-0-bg" src="images/banners/welcome.png" alt="rev-full1" data-fullwidthcentering="off">

                <div class="tp-caption slider-text-title sft str"
                data-x="0"
                data-y="250"
                data-speed="300"
                data-start="800"
                >
                <span id="welcome-slider-slogan" class="white-text">Hardware Expertise</span>
            </div>

            <div class="tp-caption slider-text-description sfl str"
            data-x="0"
            data-y="300"
            data-speed="200"
            data-start="1100"
            >
            <span id="welcome-slider-one-line-pitch" class="white-text">Dedicated Engineering Assistance</span>
        </div>

        <div class="tp-caption slider-text-description sfl str"
        data-x="0"
        data-y="350"
        data-speed="200"
        data-start="1400"
        >
        <p class="lead white-text">
            <em>Your personal engineering team.</em>
        </p>
    </div>

    <div class="tp-caption slider-text-description sfl str"
    data-x="0"
    data-y="420"
    data-speed="300"
    data-start="1400"
    >
<!--
    <a href="#!/pricing" class="btn btn-green btn-lg">Get Started</a>
-->
    <a ng-click="gotoServices()" class="btn btn-green btn-lg">Learn More</a>
</div>
<!--
 <div class="tp-caption lfr stb stl"
             data-x="600"
             data-y="0"
             data-speed="300"
             data-start="800"
             >
             <img src="images/brand/pc2.png" width="100%" alt="Engineer">
             </div>
         -->


     </li>


 </ul>
 <div class="tp-bannertimer tp-bottom"></div>
</div>
</div>