<div id="wrapper">

  <div class="top_wrapper">
    <div ng-include="'partials/common/top-bar.html'"></div>
    <div ng-include="'partials/common/header.html'"></div>
    <div ng-include="'partials/pages/welcome/slider.html'"></div>
  </div>

  <div ng-hide="true" ng-include="'partials/common/loading-container.html'"></div>

  <div class="content-wrapper">
    <div class="body-wrapper">
      <div ng-include="'partials/pages/welcome/top-companies.html'"></div>
      <div ng-include="'partials/pages/welcome/why-protoexchange.html'"></div>
      <div id="services-section" ng-include="'partials/pages/welcome/services-section.html'"></div>
     </div>
    </div>

    <div ng-include="'partials/common/footer.html'"></div>

  </div>

</div>