<div id="why-proto-section" class="">
<!--
    <img id="why-proto-section-banner" src="images/unsplash/water.jpeg" data-fullwidthcentering="on"/>
-->
    <div  class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 animated " data-animtype="fadeInLeftBig"
            data-animrepeat="0"
            data-speed="1s"
            data-delay="0.4s">
            <div class="space-sep100"></div>
            <h2 class="">
                Why ProtoExchange?
            </h2>
            <h4 class="">
                We're a community of clever &amp; articulate electical and mechanical hardware engineers.
            </h4>

            <div class="why-bullets">
                <h5 class="row">
                    <i class="icon-checkmark circle-iconbg"></i>
                    Self Organized
                </h5>
                <h5 class="row">
                    <i class="icon-checkmark circle-iconbg"></i>
                    Industry Hardened
                </h5>
                <h5 class="row">
                    <i class="icon-checkmark circle-iconbg"></i>
                    CAD Experts
                </h5>
            </div>
        </div>


        <div class="col-md-6 col-sm-6 animated " data-animtype="fadeInRightBig"
        data-animrepeat="0"
        data-speed="1s"
        data-delay="1.5s">
        <div class="right-image-container">
            <img id="why-px-engineer" class="img-rounded" src="images/unsplash/desk4.jpg" alt="ProtoExchange Engineer"/>
        </div>
    </div>

</div>
</div>
<div class="space-sep40"></div>
</div>
