
<div id="why-proto-section" class="">
<!--
    <img id="why-proto-section-banner" src="images/unsplash/water.jpeg" data-fullwidthcentering="on"/>
-->
    <div  class="container ">
        <div class="row">
            <div class="col-md-6 col-sm-6 animated " data-animtype="fadeInLeftBig"
            data-animrepeat="0"
            data-speed="2s"
            data-delay="2.4s">
            <div class="space-sep100"></div>
            <h2 class="">
                What is ProtoExchange?
            </h2>
           
            <h4 class="">
                We're a community of clever &amp; articulate electrical and mechanical engineers. We're here to assist your team with hardware design &amp; development challenges, helping you stay on schedule and focused on your core product.
            </h4>

            <div class="why-bullets">
                <h5 class="row">
                    <i class="fa fa-check-circle"></i>
                     Community of Professional Engineers
                </h5>
                <h5 class="row">
                    <i class="fa fa-check-circle"></i>
                     Industry &amp; Product Experience
                </h5>
                <h5 class="row">
                    <i class="fa fa-check-circle"></i>
                    Design Software &amp; CAD Expertise 
                </h5>
            </div>
        </div>


        <div class="col-md-6 col-sm-6 animated " data-animtype="fadeInRightBig"
        data-animrepeat="0"
        data-speed="1s"
        data-delay="1.5s">
        <div class="right-image-container">
            <img id="why-px-engineer" class="pull-right" src="images/brand/dude-small.png" alt="ProtoExchange Engineer"/>
        </div>
    </div>

</div>

</div>

</div>


