<div class="container">
    <div class="space-sep40"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 animated flipInY animatedVisi" data-animtype="flipInY" data-animrepeat="0" data-speed="1s" data-delay="0.5s">
            <h2 class="h2-section-title">Thanks for Subscribing!</h2>

            <div class="i-section-title">
            <i class="icon-star">

                </i>
            </div>

            <div class="space-sep20"></div>
        </div>
    </div>


    <div class="row">

        <div class="col-md-12 col-sm-12">

        <div class="text-center">
            <h3>A member of our team is reviewing your submission.</h3>

            <h4>We'll contact you shortly with recommended engineering assistants matching your unique requirments.</h4>
        </div>

        </div>

    </div>
    <div class="space-sep40"></div>
</div>