.body-wrapper{
	padding-top: 0px;
	background: #fff;
	padding-bottom: 0px;
}
.content-wrapper{
	background: #fff;
}
#welcome-slide-0-bg {
  -webkit-filter: blur(4px) brightness(0.5);	
}
#px-header-logo {
	height: 95px;
	margin-top: -16px;
	padding-bottom: 4px;
}

#header .navigation{
	margin-top: 16px;
}

#welcome-slider-slogan {
	color: #fff;
}

#welcome-slider-one-line-pitch{
	color: #fff;
	font-size: 1.75em;
}

.why-bullets {
	padding: 16px;
}

#why-proto-section{
background: #F5F5F5;
}
#why-proto-section-banner{
	position: absolute;
	z-index: -90;
	width: 100%;
  	-webkit-filter: blur(4px) brightness(0.5);
}
#get-started-section{
	background: url('../../images/unsplash/apple.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
}

#top-companies-section{
	background: #fff;
}

#why-px-engineer{
	width: 420px;
	margin-top: 100px;
}

#mobile-menu-button{
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-size: 2.5em;
	padding: 16px;
}

.mobile-nav .searchbox-inputtext {
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 4px;
}

.searchbox-inputtext-mobile{
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#services-section{
	background: #fff;
}

.good-for{

}

.good-for li:before{
	color: green !important;
}

.bad-for {
	text-decoration: line-through;
}
.bad-for li:before{
	color: red !important;
}

.content-box {
	padding: 8px;
}



