.body-wrapper{
	padding-top: 0px;
	background: #fff;
	padding-bottom: 0px;
}
.content-wrapper{
	background: #fff;
}

#px-header-logo {
	height: 95px;
	margin-top: -16px;
	padding-bottom: 4px;
}
#header .navigation{
	margin-top: 16px;
}

#header{
	border-bottom: 1px solid #CDCDCD;
	
}

#welcome-slider-slogan {
	font-size: .85em;
}
#welcome-slider-one-line-pitch{
	color: #000;
	font-size: 1.75em;
}
.why-bullets {
	padding: 16px;
}
#why-proto-section{
	/*
	background: url('../../images/sliders/engineer-desk.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
	*/
	
	background: #F8F8F8 ;
}

#partners-cards-section{
	
}

#partners-content .content-box{
	padding-bottom: 16px;
}

#pricing-banner{
	background: url('../../images/sliders/pricing.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
	height: 520px;
}

#faq-banner{
	background: url('../../images/sliders/faq.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center ; 
	height: 520px;
	
}

#contact-banner{
	background: url('../../images/brand/px-team-zoom.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top; 
	height: 520px;
}


#partners-banner{
	background: url('../../images/unsplash/struct.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom; 
}

#get-started-section{
	background: #303030;
}
#top-companies-section{
	background: #fff;
}
#why-px-engineer{
	height: 400px;
	margin-top: 68px;
}
#mobile-menu-button{
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-size: 2.5em;
	padding: 16px;
}
.mobile-nav .searchbox-inputtext {
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 4px;
}
.searchbox-inputtext-mobile{
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#services-section{
	border-top: 1px solid #CDCDCD;
	background: #fff;
}
.good-for{
}
.good-for li:before{
	color: #2580b1 !important;
}
.bad-for {
	text-decoration: line-through;
	color: #cdcdcd !important;
}
.bad-for li:before{
	color: #cdcdcd !important;
}
.content-box {
	padding: 8px;
}
#request-assistant-typeform-widget {

}

#partners-content{
	background: #fff;
}
.partner-business-title{
	font-size: 2em;
}

.p1-label{
	color: #1E90FF !important;
}
.p1-banner{
	background-color: #1E90FF !important;
}

.p1-rows i{
	color: #1E90FF !important;
}

.category-label{
	margin-right: 10px;
}

.label-machining {
	background-color: #206BA4;
}

.label-sheet-metal {
	background-color: #BBD9EE;
}

.label-plastics {
	background-color: #097054;
}

.label-electrical {
	background-color: #FFDE00;
}

.label-mechanical-components {
	background-color: #6599FF;
}

.label-packaging {
	background-color: #6599FF;
}

.label-labels {
	background-color: #2580b1;
}

#top-companies-section  {
    
}

.plan-info{
	padding: 10px;
}

.rev-slider-full {
    padding: 0px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    width: 100%;
    position: relative;
    padding: 0;
    max-height: 100%;
    overflow: hidden;
    visibility: hidden;
    left: 0;
    top: 0;
    clear: both;
}


#top-companies-section > div > div{
	margin-top: 4px;
}

ul.bottom-body-clients li {
    border: none;
    height: 108px;
    width: 164px;
    border: none;
    text-align: center;
    float: none;
    display: inline-block;
}




